<!-- <div [innerHTML]="data.copy"></div> -->

<!-- <small>dev debug</small>
<pre [innerHTML]="data | json"></pre>
<button class="btn btn-sm btn-primary">SOMETHING</button> -->

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
        <img alt="Party" src="{{ data.image_path }}" class="absolute inset-0 h-full w-full object-cover" />
      </div>

      <div class="lg:py-24">
        <p class="text-primary font-bold">{{ data.super_script | uppercase }}</p>

        <h2 class="text-3xl text-white font-bold sm:text-4xl" [innerHTML]="data.h1"></h2>

        <p class="mt-4 text-gray-300" [innerHTML]="data.copy"></p>

        <a
          href="{{ data.ctas[0].external_url }}"
          class="mt-8 font-bold inline-block rounded bg-indigo-600 px-12 py-3 text-sm text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          {{ data.ctas[0].text }}
        </a>
        <a href="{{ data.ctas[1].internal_path }}" class="mt-8 mb-8 inline-block px-12 py-3 text-sm font-medium text-white transition">
          {{ data.ctas[1].text }}
        </a>
        <br />
        <a href="{{ data.ctas[2].internal_path }}" class="mt-8 text-primary">{{ data.ctas[2].text }}</a>
        <!-- todo: arrow icon -->
        <!-- <img src="apps/web-accuservpro-landing/src/assets/images/ASP just arrow.svg" alt=""> -->
      </div>
    </div>
  </div>
</section>


