<div class="d-flex justify-content-between scroll-overflow mb-4">
  <button class="btn btn-sm btn-secondary me-2" *ngFor="let item of inputs; let i = index" (click)="daySelected(item, i )">
    <!-- <button class="btn btn-sm btn-secondary me-2" *ngFor="let item of inputs; let i = index" (click)="daySelected(item, i)"> -->
    <h4>{{item.title}}</h4>
    <!-- <h4>Day</h4> -->
    <div class="white-circle">
      <!-- immediately shows the 'days' value -->
      {{ days }}
    </div>
  </button>
</div>

<!--
  -  does the number need to change when it's clicked or should it already be populated? I think it should be populated 
  - needs to show how many are in the array as how many are viewable 
  - each bulb only shows it's own value, doesn't update all of them 
  - when clicked needs to check if it's disabled or not, if not disabled can move on to the next step (not handled by me though, will be on client)
-->




<!-- what it needs to do 
- on inital load, it shows the length of the inputs array looped through on the page 
- the number is the 'days' value individual for each item in the array
- when clicked, it needs to check if the item is disabled, if it is then it doesn't do anything, 
  if it's not disabled then it needs to show the 'days' value of that item in the array

-->