<!-- day-card.component.html -->
<div *ngIf="loading; else content">
  <!-- Skeleton loading -->
  <div class="card skeleton-card" *ngFor="let item of skeleton"></div>
</div>
<ng-template #content>
  <!-- Actual content -->
  <!-- <div class="card" *ngFor="let item of data; let i = index" [ngClass]="{ disabled: item.disabled }" (click)="onCardClick(item)">
    <div class="card-body">
      <h5 class="card-title">{{ item.number_val || i + 1 }}</h5>
      <p class="card-text">{{ item.title }}</p>
      <span *ngIf="item.canProceed" class="dot"></span>
    </div>
  </div> -->

  <div class="d-flex justify-content-between scroll-overflow mb-4">
    <button
      class="btn btn-sm btn-secondary me-2"
      *ngFor="let item of data; let i = index"
      [ngClass]="{ disabled: item.disabled }"
      (click)="onCardClick(item)"
    >
      <h4>Day</h4>
      <div class="white-circle">
        {{ item.number_val || i + 1 }}
      </div>
      <span *ngIf="item.canProceed" class="dot mt-2"></span>
    </button>
  </div>
</ng-template>
<!-- todo: 
find first item in list that is disabled, and disable all items after that
current item the whole card should have a black background and white text
the current item should be the first item in the list that is not disabled



- edge case, what if there are items in the list that are completed, but disabled? 
-->
