.white-circle {
  border-radius: 100px;
  background-color: white;
  padding: 4px;
}

// Skeleton
.card {
  width: 200px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.skeleton-card {
  width: 200px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  background-color: #f0f0f0;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.dotplaceholder {
  height: 12px;
  width: 12px;
  display: inline-block;
}

//  if you want it to be even lighter for disabled:
// .disabled {
//   opacity: 0.5;
//   pointer-events: none;
// }

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
